.formContainer {
  width: 100%;
  background-color: rgb(240, 248, 255);
  color: rgb(0, 43, 87);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 3vh 5vw;
}

.titleAndServices {
  width: 47%;
  margin: 20px 0px;
  padding-right: 10px;
}

.titleAndServices h1 {
  padding-bottom: 10px;
}

.contactTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.contactTitle h1 {
  width: 100%;
}

.contactTitle p {
  padding-top: 20px;
  font-size: 1.2em;
}

.services h3 {
  padding: 5px 5px;
}

.services p {
  padding: 5px;
  padding-bottom: 10px;
  text-align: justify;
}

.services ul {
  padding-left: 20px;
}

.contactForm {
  width: 50%;
}

.contactForm form {
  width: 100%;
}

@media (max-width: 925px) {
  .formContainer {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }
  .titleAndServices {
    width: 100%;
    margin: 0;
    padding: 20px;
  }
  .contactForm {
    width: 100%;
  }
  .contactForm form {
    width: 100%;
    padding-right: 20px;
  }
  .contactForm form input {
    padding-right: 50px;
  }
}

@media (max-width: 768px) {
  .titleAndServices h1 {
    padding-bottom: 10px;
  }
}

@media (max-width: 470px) {
  button {
    width: 100% !important;
  }
}

.contactForm input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(240, 248, 255) inset !important;
  -webkit-text-fill-color: rgb(0, 43, 87) !important;
}
