.projectsContainer {
  width: 100%;
  padding-top: 3vh;
  padding-bottom: 8vh;
  padding-left: 4vw;
  padding-right: 4vw;
  background-color: rgb(240, 248, 255);
  color: rgb(0, 43, 87);
}

.titleContainer {
  padding: 2vh 1vw;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 12px;
  border-bottom: 1px solid rgba(0, 43, 87, 0.15);
}

.project {
  background-color: rgba(124, 139, 212, 0.025);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid rgba(0, 43, 87, 0.15);
  border-radius: 15px;
  margin: 20 auto;
  margin-left: 20px;
  margin-right: 20px;
  cursor: grab;
  box-shadow:
    0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14),
    0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

.project:hover::before {
  content: '';
  position: absolute;
  width: 350px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -555px;
  animation: shine 0.5s alternate ease-in-out;
}

@keyframes shine {
  0% {
    left: -555px;
  }
  100% {
    left: 100%;
  }
}

.project h1 {
  font-size: 1.8rem;
}

.project img {
  width: 50%;
  padding: 30px;
}

.projectInfo {
  width: 50%;
  padding: 0 30px;
  border-left: 1px solid rgb(0, 43, 87, 0.15);
}

.projectInfo a {
  text-decoration: none;
  color: rgb(0, 43, 87);
}

.projectInfo h1 {
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 1.5rem;
}

.projectInfo p {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: justify;
  font-size: 1.1rem;
}

.socials {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  font-size: 28px;
  padding-top: 25px;
}

.fontAwesome {
  color: rgb(0, 43, 87);
  transition: transform 0.2s linear;
}

.fontAwesome:hover {
  transform: scale(1.2);
  color: rgb(0, 70, 160);
}

@media (max-width: 1300px) {
  .projectInfo h1 {
    font-size: 1.4rem;
  }
}

@media (max-width: 1050px) {
  .projectsContainer {
    width: 100%;
  }
  .project {
    flex-direction: column;
    width: 90%;
    border: 1px solid rgba(0, 43, 87, 0.15);
    margin: 0 auto;
    margin-bottom: 5px;
  }

  .project img {
    max-width: 700px;
    width: 90%;
  }

  .projectInfo {
    width: 100%;
    border-left: none;
    border-top: 1px solid rgba(0, 43, 87, 0.15);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .projectInfo h1 {
    padding-top: 10px;
    font-size: 1.2rem;
  }

  .projectInfo p {
    font-size: 1rem;
  }

  .socials {
    padding-top: 10px;
  }
}

@media (max-width: 768px) {
  .projectsContainer {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    margin: 0 auto;
  }

  .title {
    font-size: 1.5rem;
  }

  .projectInfo h1 {
    font-size: 1.3rem;
  }

  .projectInfo p {
    font-size: 1rem;
  }
}

@media (max-width: 660px) {
  .title {
    padding: 0;
  }
  .titleContainer {
    padding-bottom: 20px;
    padding-left: 0;
  }
}

@media (max-width: 550px) {
  .project img {
    width: 100%;
  }
  .projectsContainer {
    padding-top: 10px;
  }
}

@media (max-width: 476px) {
  .project img {
    padding: 10px;
    height: auto;
  }
}

.swiper {
  padding-bottom: 2rem;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}
