.custom-slider-projects .slick-next:before,
.custom-slider-projects .slick-prev:before {
  font-size: 25px;
  color: rgb(0, 43, 87);
}

.custom-slider-projects .slick-dots li.slick-active button:before {
  color: rgb(0, 43, 87);
}

.custom-slider-projects .slick-dots li button:before {
  color: rgb(0, 43, 87);
}

@media (max-width: 700px) {
  .custom-slider-projects .slick-next {
    right: -17px;
  }
  .custom-slider-projects .slick-next:before {
    position: relative;
    left: -12px;
  }
  .custom-slider-projects .slick-prev:before {
    position: relative;
    left: 10px;
  }
}
