.seoContainer {
  width: 100%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 5vh 10vw;
  color: rgb(54, 69, 79);
  gap: 40px;
}

.seoDesc {
  width: 40%;
  height: 50%;
  font-size: 25px;
}

.seoImg {
  width: 40%;
}

.seoImg img {
  object-fit: contain;
  width: 100%;
  height: 400px;
}

@media (max-width: 1024px) {
  .seoContainer {
    flex-direction: column;
    align-items: center;
  }
  .seoDesc {
    width: 80%;
  }
  .seoImg {
    width: 80%;
  }
}
