.techStack {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  height: 100%;
  min-height: 751px;
}

.techStack h3 {
  font-size: 1.4em;
}

.techStack p {
  font-size: 1.2em;
}

.techStack a {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 45%;
  transition: transform 0.2s linear;
  padding-top: 30px;
  padding-bottom: 0px;
  border-bottom: 1px solid rgba(0, 43, 87, 0.15);
  min-height: 350px;
}

.techStack a:hover {
  transform: scale(1.05);
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1130px) {
  .techStack div {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .tab {
    padding-top: 10px !important;
  }
  .techStack {
    flex-direction: column;
  }
  .techStack a {
    width: 100%;
    padding-top: 30px;
  }
  .techStack div {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .techStack div {
    width: 100%;
  }
}

@media (max-width: 660px) {
  .techStack2 div {
    width: 100%;
  }
}

@media (max-width: 1425px) {
  .frontendCode {
    flex-direction: column;
    align-items: center;
  }

  .frontendImg {
    max-width: 100%;
  }

  .frontendImg img {
    width: 100%;
    padding-bottom: 30px;
  }

  .frontendDesc {
    max-width: 100%;
    padding-left: 0;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .frontendDesc h2 {
    font-size: 36px;
  }

  .frontendDesc p {
    font-size: 20px;
  }
}

.tab {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: normal;
  background-color: rgb(240, 248, 255);
  color: rgb(0, 30, 65);
  width: 100%;
  padding: 4vh 5vw;
}

.arrowRight {
  font-size: 1.4em;
  transform: scale(1);
  opacity: 0;
  transition:
    transform 0.2s linear,
    opacity 0.2s linear,
    right 0.2s linear;
  position: absolute;
  right: 70px;
  bottom: 20px;
}

.textRight {
  position: absolute;
  opacity: 0;
  transition:
    opacity 0.2s linear,
    right 0.2s linear;
  right: 100px;
  bottom: 15px;
}

.techStack a:hover .textRight {
  opacity: 1;
  right: 50px;
}

.techStack a {
  color: rgb(0, 30, 65);
  text-decoration: none;
}

.techStack a:hover .arrowRight {
  opacity: 1;
  right: 20px;
}

@media (max-width: 768px) {
  .arrowRight {
    transform: scale(1);
    opacity: 1;
    position: absolute;
    right: 0px;
    bottom: 20px;
  }

  .textRight {
    position: absolute;
    opacity: 1;
    right: 40px;
    bottom: 15px;
  }

  .techStack {
    height: auto;
    min-height: auto;
  }

  .techStack a:hover .textRight {
    opacity: 1;
    right: 50px;
  }

  .techStack a {
    color: rgb(0, 30, 65);
    text-decoration: none;
    min-height: 300px;
  }

  .techStack a:hover .arrowRight {
    opacity: 1;
    right: 20px;
  }
}

@media (max-width: 520px) {
  .techStack a p {
    text-align: justify;
  }
  .textRight {
    position: absolute;
    text-align: end !important;
    padding-top: 20px;
    bottom: 18px;
  }
}

@media (max-width: 430px) {
  .techStack p {
    font-size: 1.1em;
  }
}
